.Key {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 15px;
    height: 35px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 6px;
    margin-top: 10px;
      
    background: black;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
}

.Key:hover {
    cursor: pointer;
}