.App {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid yellowgreen;
}

.app__header {
  display: flex;
  position: relative;

  border: 2px solid red;
}

.app__guesses {
  display: flex;
  position: relative;
  height: 50vh;
  width: 30vw;
  flex-direction: column;

  border: 2px solid orange;
}

.app__keyboard {
    display: flex;
    position: relative;
    height: 30vh;
    width: 40vw;

    border: 2px solid yellow;
}